@import "tailwindcss";

@theme {
  --font-newsreader: var(--font-newsreader);
  --font-inter: var(--font-inter);
  
  --color-stitch-bg: #fbf9f3;
  --color-stitch-sidebar: #eae8e2;
  --color-stitch-white: #ffffff;
  --color-stitch-burgundy: #800020;
  --color-stitch-burgundy-dark: #570013;
}

:root {
  --background: #fbf9f3;
}

body {
  background-color: var(--background);
  color: #1e293b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-newsreader {
  font-family: var(--font-newsreader), serif;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}
